.menu, .meta-line, footer, body {
  font-family: "Palatino Linotype", "Palatino", "NSimSun", "SimSun-ExtB", "SimSun", "Songti SC", "SimSong", serif;
}

code {
  font-family: Consolas, "Courier New", Monaco, "KaiTi", "KaiTi SC", monospace;
}

blockquote, em {
  font-family: "Georgia", "SimKai", "KaiTi", "Kaiti SC", "Kai", "STKaiti", serif;
}