.menu, .meta-line, footer, body {
  font-family: "Georgia", "NSimSun", "SimSun", "Songti SC", serif;
}

code {
  font-family: Consolas, Monaco, "Courier New", "SimKai", "KaiTi", "KaiTi SC", monospace;
}

blockquote, em {
  font-family: "Georgia", "SimKai", "KaiTi", "Kaiti SC", serif;
}