{{ if .Param "math" }}
<script>
  window.MathJax = {
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)'], ['$', '$']],     // inline
    },
    loader: {
      load: ['ui/safe']
    }
  };
</script>
<script id="MathJax-script" async defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{{ end }}
{{ if .HasShortcode "abcjs" }}
<script async defer src="https://cdn.jsdelivr.net/npm/abcjs/dist/abcjs-basic-min.js"></script>
<style>
  .abcjs {
    margin: 1em 0;
  }
</style>
{{ end }}
{{ if .HasShortcode "echarts" }}
<script async defer src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script async defer src="https://cdn.jsdelivr.net/npm/echarts/theme/dark-bold.js"></script>
<style>
  .echarts {
    height: 400px;
    border: 1px dashed var(--border-color);
    margin: 1em 0;
  }
</style>
{{ end }}
{{ if .HasShortcode "highcharts" }}
<script async defer src="https://code.highcharts.com/highcharts.js"></script>
<script async defer src="https://code.highcharts.com/modules/accessibility.js"></script>
<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css">
<style>
  .highcharts {
    border: 1px dashed var(--border-color);
    margin: 1em 0;
  }
</style>
{{ end }}
